<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moss results</title>
</head>
<body>
Moss Results<p>
{{ date_info }}
<p>
Options {{ option_info }}
<hr>
[ <a href="http://moss.stanford.edu/general/format.html" target="_top"> How to Read the Results</a> | <a href="http://moss.stanford.edu/general/tips.html" target="_top"> Tips</a> | <a href="http://moss.stanford.edu/general/faq.html"> FAQ</a> | <a href="mailto:moss-request@cs.stanford.edu">Contact</a> | <a href="http://moss.stanford.edu/general/scripts.html">Submission Scripts</a> | <a href="http://moss.stanford.edu/general/credits.html" target="_top"> Credits</a> ]
<hr>
<table>
    <tr>
        <th>File 1</th>
        <th>File 2</th>
        <th>Partnered</th>
        <th>Lines Matched</th>
    </tr>
    {% for entry in entries %}
        {% if not entry %}
            <tr>
                <td>--------</td>
                <td>--------</td>
                <td>--------</td>
                <td>--------</td>
            </tr>
        {% else %}
            <tr>
                <td><a HREF="{{ entry['url'] }}">{{ entry['student1'] }} ({{ entry['perc1'] }}%)</a></td>
                <td><a HREF="{{ entry['url'] }}">{{ entry['student2'] }} ({{ entry['perc2'] }}%)</a></td>
                <td>{{ entry['partnered'] }}</td>
                <td ALIGN=right>{{ entry['lines'] }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
Original: {{ original_length }}<p>
Modified: {{ modified_length }}<p>
Removed: {{ filtered }}<p>
Any errors encountered during this query are listed below.<p>{{ error_info }}
</body>
</html>